body{
    font-family: "Open Sans", sans-serif;
}
form {
    margin: 100px auto;
    width: 400px;
    padding: 20px 40px 20px 40px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

footer {
	position:absolute;
	left:5px;
	right:5px;
	bottom:5px;
	height:15px;
	z-index:1;
	visibility: visible;
	text-align:center;
	font-size:9pt;
}

input {
    display: block;
/*    width: 100%;*/
    padding: 5px 12px;
    border: none;
    border-bottom: 1px solid #6b6b6b;
}

button {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 5px 0 5px 0;
    color: white;
    background-color: orange;
    border: 1px solid transparent;
}
.header{
    text-align: right;
    font-weight: bold;
    
}

img.img-left{
    padding: 0 40px 0 0;
}

img.img-header{
    padding: 0 0 10px 0;
}






p.error{
    color: red;
    font-size: 10px;
    text-align: left;
}

